* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listContainer {
  border: 1px grey solid;
  border-radius: 8px;
}

.listContainer .listElement{
  padding: 4px 16px;
}

.listContainer .listElement:not(:last-child) {
  border-bottom: 1px grey solid;
}

.listContainer .listElement label {
  font-size: 12px;
  color: grey;
  margin-bottom: 2px;
}

.listContainer .listElement p {
  font-size: 18px;
  margin: 4px 0px;
}